<!DOCTYPE html>
<html lang="en">

{{> head }}

{{> navbar }}
    <div class="row">
        <div class="col-8">
            <p>Información que va en un about</p>
        </div>
        <div class="col-4">
            <img src="assets/img/koala.jpg" alt="koala" class="img-thumbnail">
        </div>
    </div>

{{> footer }}
</html>